<div class="container">
<nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
        <div>
            <ul class="nav navbar-nav navbar-right nav-buttons">
                <li><a class="btn" routerLink="/signup">Get Started</a></li>
                <li><a class="btn" routerLink="/login">Login</a></li>
                <li><a class="btn" routerLink="/about">About</a></li>
            </ul>
        </div>
        </div>
    </nav>
</div>
<div class="sections">  
        <section id="about">
            <div class="jumbotron jumbotron-billboard container">
            <h3>ABOUT US</h3>
            <p>
            The music sessions and the courses are finely refined from top universities like London College of Music(LCM), Trininity College of Music, Berkely College of Music.
            Top tutors have spent their valuable time with us to provide music education for free and spread the message of love.
            As Beethoven once said, "MUSIC IS A HIGHER REVELATION THAN PHILOSOPHY"</p></div>
        </section>
        <section id="training">
            <div class="jumbotron jumbotron-billboard container">
                <h3>
                    HOW WILL YOU BE TRAINED
                </h3>
                <p>
                    Every one in the world deserves to know the basics of music theory. We take pride in providing free music course for 
                    each and everyone in this world. The training begins with a basic course of music theory. Once the user 
                    completes this course, there are 8 grades of courses to complete. Each grade consists of a list of songs to be learnt.
                    grade to prepare.
                </p>
            </div>
        </section>
        <Section id="certificate">
            <div class="container jumbotron jumbotron-billboard">
                <h3>
                    GRADE CERTIFICATE
                </h3>
                <p>
                        Once the user learns all the songs of the given grade, he/she will have to be ready for the exam which will be informed by mail to the user.
                        Upon the completion of examination, the user will get a certificate for that grade and he/she will be unlock the next 
                </p>
            </div>

        </Section>
        <Section id="signup">
                <div class="container jumbotron jumbotron-billboard">
                    <h3>
                        Lets get started to a blissful music career right from here
                    </h3>
                    <p>Click on the button to signup</p>
                    <a class="btn" routerLink="/signup">SIGNUP</a>
                </div>
    
            </Section>
</div>