<div *ngIf="loggedin">
<nav class="navbar navbar-fixed-top navbar-default" style="background: white none repeat scroll 0% 0%;">
    <div class="container-fluid">
        <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
    <div>
        <ul class="nav navbar-nav navbar-right nav-buttons">
                <li><a class="btn" routerLink="/grades">Grades</a></li>
                <li><a class="btn" (click)="logout()" routerLink="/logout">Logout</a></li>
            <li><a class="btn" routerLink="/about">About</a></li>
        </ul>
    </div>
    </div>
</nav>
<div class ="logout-page">
<div class="container jumbotron jumbotron-logout">
<h1>You have successfully Completed Grade {{grade}}</h1>
<h3>Click on this button to get certificate</h3>
<button type="button" class="btn btn-primary" (click)="downloadCertificate()">Get Certificate</button>  

</div>
</div>
</div>
<div *ngIf="loggedout">
        <nav class="navbar navbar-fixed-top navbar-default" style="background: white none repeat scroll 0% 0%;">
            <div class="container-fluid">
                <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
            <div>
                <ul class="nav navbar-nav navbar-right nav-buttons">
                        <li><a class="btn" routerLink="/signup">Signup</a></li>
                    <li><a class="btn" routerLink="/login">Login</a></li>
                    
                </ul>
            </div>
            </div>
        </nav>
        <div class ="logout-page">
            <div class="container jumbotron jumbotron-logout">
            <h3>PLEASE LOGIN/SIGNUP</h3>
            </div>
        </div>
    </div>
    