<div *ngIf="loggedin">
        <nav class="navbar navbar-fixed-top navbar-default" style="background: white none repeat scroll 0% 0%;">
            <div class="container-fluid">
                <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
            <div>
                <ul class="nav navbar-nav navbar-right nav-buttons">
                    <li><a class="btn">Hello {{name}}!</a></li>
                    <li><a class="btn" (click)="logout()" routerLink="/logout">Logout</a></li>
                    <li><a class="btn"  routerLink="/about">About</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="grade-list">
            <section id="grades">
            <div class="container container-grades">
                        <div *ngFor=" let number of numbers">
                            <div *ngIf="checkGrade(number)">
                            <a routerLink="/list/{{number}}" class="list-group-item list-group-item-action">
                            Grade {{number}}
                            </a>
                            </div>
                            <div *ngIf="!checkGrade(number)">
                                    <a routerLink="/list/{{number}}" class="list-group-item list-group-item-action disabled">
                                      Grade {{number}}
                            </a>
                            </div>
                            </div> 
            </div>   
    
            </section>
        </div>
    </div>
    <div *ngIf="loggedout">
        <nav class="navbar navbar-fixed-top navbar-default" style="background: white none repeat scroll 0% 0%;">
            <div class="container-fluid">
                <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
            <div>
                <ul class="nav navbar-nav navbar-right nav-buttons">
                        <li><a class="btn" routerLink="/signup">Signup</a></li>
                    <li><a class="btn" routerLink="/login">Login</a></li>
                    <li><a class="btn" routerLink="/about">About</a></li>
                    
                </ul>
            </div>
            </div>
        </nav>
        <div class ="logout-page">
            <div class="container jumbotron jumbotron-logout">
            <h3>PLEASE LOGIN/SIGNUP</h3>
            </div>
        </div>
    </div>
    