<div *ngIf="loggedin">
        <nav class="navbar navbar-fixed-top navbar-default" style="background: white none repeat scroll 0% 0%;">
            <div class="container-fluid">
                <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
            <div>
                <ul class="nav navbar-nav navbar-right nav-buttons">
                    <li><a class="btn">Hello {{name}}!</a></li>
                    <li><a class="btn" (click)="logout()" routerLink="/logout">Logout</a></li>
                    <li><a class="btn"  routerLink="/about">About</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="course-list">
            <section id="courses">
            <div class="container container-course">
                        
                            <a routerLink="/course/scl" class="list-group-item list-group-item-action">
                              The Staff, Clefs and Ledger Lines
                            </a>
                            <a routerLink="/course/noteDuration" class="list-group-item list-group-item-action">
                               Note Duration
                            </a>
                            <a routerLink="/course/measuresAndTimeSignature" class="list-group-item list-group-item-action">
                                Measures and Time Signature
                            </a>
                         
            </div>   
    
            </section>
        </div>
    </div>
    <div *ngIf="loggedout">
        <nav class="navbar navbar-fixed-top navbar-default" style="background: white none repeat scroll 0% 0%;">
            <div class="container-fluid">
                <a class="navbar-brand active mr-auto" href="#" routerLink="/">Musyqa</a>
            <div>
                <ul class="nav navbar-nav navbar-right nav-buttons">
                        <li><a class="btn" routerLink="/signup">Signup</a></li>
                    <li><a class="btn" routerLink="/login">Login</a></li>
                    <li><a class="btn" routerLink="/about">About</a></li>
                    
                </ul>
            </div>
            </div>
        </nav>
        <div class ="logout-page">
            <div class="container jumbotron jumbotron-logout">
            <h3>PLEASE LOGIN/SIGNUP</h3>
            </div>
        </div>
    </div>
    